# Protege arquivos que não devem ir pro GitHub

txt/
../txt/

*.py
*.pyc
__pycache__/
venv/
.venv/
.env

temp_*/
temp_capa/
temp_paginas/

Thumbs.db
desktop.ini
ehthumbs.db

*.log
*.tmp
.vscode/
.idea/